---
import { siteConfig } from "../config/site";

type Props = {
  latestTitle?: string;
  latestHref?: string;
};

const { latestTitle, latestHref } = Astro.props;
---

<section class="hero shell">
  <div class="hero-copy">
    <h1>{siteConfig.siteName}</h1>
    <p class="hero-summary">{siteConfig.siteDescription}</p>
  </div>
</section>
